iKitchen.Web/Service References/ServiceReference1/InquiryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Inquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="propertyInfo" type="tns:PropertyInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PropertyInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CityId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DistrictId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FloorNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalFloorNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RoomCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParlourCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ToiletCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BalconyCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HouseArea" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="YearOfBuilding" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FitmentType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FitmentTypeOther" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateOn" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="YewuUserId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TenementType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenementName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InquiryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InquiryResult" type="tns:InquiryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InquiryModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RefUnitPrice" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="EstimatedPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EstimatedPriceMin" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EstimatedPriceMax" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AveragePriceThisMonth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AveragePriceReferenceMonth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Ratio" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BasePrice" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InquiryLog" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InquirySoapIn">
    <wsdl:part name="parameters" element="tns:Inquiry" />
  </wsdl:message>
  <wsdl:message name="InquirySoapOut">
    <wsdl:part name="parameters" element="tns:InquiryResponse" />
  </wsdl:message>
  <wsdl:portType name="InquiryServiceSoap">
    <wsdl:operation name="Inquiry">
      <wsdl:input message="tns:InquirySoapIn" />
      <wsdl:output message="tns:InquirySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InquiryServiceSoap" type="tns:InquiryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inquiry">
      <soap:operation soapAction="http://tempuri.org/Inquiry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InquiryServiceSoap12" type="tns:InquiryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inquiry">
      <soap12:operation soapAction="http://tempuri.org/Inquiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InquiryService">
    <wsdl:port name="InquiryServiceSoap" binding="tns:InquiryServiceSoap">
      <soap:address location="http://localhost:2389/InquiryService.asmx" />
    </wsdl:port>
    <wsdl:port name="InquiryServiceSoap12" binding="tns:InquiryServiceSoap12">
      <soap12:address location="http://localhost:2389/InquiryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>